<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Product Labs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  <link rel="stylesheet" href="stylesheets/album.css">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">International Institute of Information Technology, Hyderabad (IIITH) is an autonomous university, founded as a not-for-profit public private partnership (N-PPP) in 1998, and is the first IIIT in India under this model. </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="/form" class="text-white">Submit documents</a></li>
                <li><a href="/search" class="text-white">Search documents</a></li>
                 <li><a href="/chatroom" class="text-white">Chatroom</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
           
            <strong>Product Labs</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    
    
       <div class="container">

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">All Documents</h1>
          <p class="lead text-muted">All the uploaded documents are shown here. we could include other file types too but currentls only image and pdf. For including other files code will become longer</p>
          <p>
            <a href="/form" class="btn btn-primary my-2">Upload other documents</a>
            <a href="chatroom" class="btn btn-secondary my-2">Visit Chatroom</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            
             <% if(files){ %>
          <% files.forEach(function(file) { %>
            
              <% if(file.isImage) { %>
                <div class="col-md-4">
              <div class="card mb-4 box-shadow" >
                <img class="card-img-top" src="image/<%= file.filename %>" alt="Card image cap">
                
                <div class="card-body">
                  <p class="card-text"><p><%= file.filename %></p></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form method="get" action="image/<%= file.filename %>">
                             
                               <button class="btn btn-sm btn-outline-secondary">View image</button>
                             </form>
                      
                     
                      <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                      
                          <button class="btn btn-sm btn-outline-secondary">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
               <% } else { %>
                  <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <embed class="card-img-top" src= "image/<%= file.filename %>" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><p><%= file.filename %></p></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <form method="get" action="image/<%= file.filename %>">
                             
                               <button class="btn btn-sm btn-outline-secondary">View pdf</button>
                             </form>
                      
                     
                      <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                      
                          <button class="btn btn-sm btn-outline-secondary">Delete</button>
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
             <% }) %>
              <% } else { %>
                <p>No files to show</p>
                <% } %>
            
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        
      </div>
    </footer>

 
  
   
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
